
.btn-bd-primary {
    background-color: purple;
    color: black;
    width: 300px;
    height: 100px;
    font-size: 50px;
  }
  image{
    padding: 4px;
    border: 2px;
    border-color:rgb(205, 113, 242);
    border-radius: 8px;
    background-color: rgb(205, 113, 242);
    box-shadow: inset;
    
  }
  .header{
    background-color: rgb(205, 113, 242);
  }
  .li-expand {
          flex-wrap: nowrap;
          justify-content: flex-start;
          flex-direction: row;
           position: absolute;}
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(205, 113, 242);
          }
          
          li {
            float: left;
          }
          
          li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          li a:hover {
            background-color: #de90ff;
          }
          
          body{
            background-color: hsl(0, 0%, 60%);
          }
          li {
            display: inline;
            background-color: rgb(0, 0, 0);
            
          }
          .active {
            background-color: #7b04aa;
          }
          ul {
            position: none;
            top: 0;
            width: 100%;
          }
          .logo img {
            width: 50px; 
            height: auto;
            border-radius: 50%;
        }
        .image-1{
          width: 100px;
          border-radius: 8px;
          margin-right: 50px;
        }
        text{
          background-color: #de90ff;
          margin-left: 20px;
          display: inline;
          
        }
        .container {
          display: flex;
          align-items: center;}
          .containers {
            display: flex;
          align-items: center;
          }
          .normal-text{
            font-size: 50px;
          }
          .image-2{
            border-radius: 8px;
            margin-left: 50px;
          }
